/* FONTS */
@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Bold.woff2") format("woff2");
    font-weight: 700;
}

/* BODY */
body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    color: #222;
}


.bg_grey {
    background-color: #403B3B;
}
h1 {
    font-size: 48px;
    font-weight: 700;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 24px;
    margin-block-start: 0;
    margin-block-end: 0;
}
h5 {
    font-size: 32px;
    margin-block-start: 0;
    margin-block-end: 0;
}
img {
    height: 352px;
    width: 352px;
}
button {
    background-color: #008000;
    color: white;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    font-size: 20px;
}
a {
    text-decoration: none;
    color: white;
    padding-bottom: 1px;
}
a:hover {
    border-bottom: 1px solid #ffffff 
}
header {
    max-width: 1440px;
    height: 144px;
    padding: 40px 160px 0 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}
header img {
    height: 64px;
}
header a {
    text-decoration: none;
    color: #403B3B;
    font-size: 24px;
    padding-bottom: 3px;
}
header a:hover {
    color: #008000;
    border-bottom: 5px solid #008000 
}
nav {
    display: flex;
    gap: 25px;
    height: 128px;
    align-items: flex-end;
}
nav ul {
    margin-block-start: 1.5rem;
    margin-block-end: 0;
    padding-inline-start: 0;
}
main {
    width: 100%;
    max-width: 1440px;
    padding: 40px 160px;
    margin: 0 auto;
}
main a {
    color: blue;
    text-decoration: none;
}
main a:hover {
    text-decoration: underline;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    height: 144px;
    padding: 40px 160px;
}
footer img {
    height: 44px;
    width: 44px;
}