body {
    margin: 0;
    font-family: raleway;
    font-size: 24px;
}
.bg_grey {
    background-color: #403B3B;
}
h1 {
    font-size: 80px;
}
h2 {
    font-size: 56px;
}
h3 {
    font-size: 48px;
}
h4 {
    font-size: 40px;
    margin-block-start: 0;
    margin-block-end: 0;
}
h5 {
    font-size: 32px;
    margin-block-start: 0;
    margin-block-end: 0;
}
.recipe_img {
    height: 352px;
    width: 352px;
}
button {
    background-color: #008000;
    color: white;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    font-size: 20px;
}
header {
    max-width: 1440px;
    height: 144px;
    padding: 40px 160px 0 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}
.header_logo {
    height: 120px;
    width: 400px;
}
header nav a {
    text-decoration: none;
    color: #403B3B;
    font-size: 24px;
    padding-bottom: 3px;
}
header nav a:hover {
    color: #008000;
    border-bottom: 5px solid #008000 
}
nav {
    display: flex;
    gap: 25px;
    height: 128px;
    align-items: flex-end;
}
nav ul {
    margin-block-start: 1.5rem;
    margin-block-end: 0;
    padding-inline-start: 0;
}
main {
    max-width: 1440px;
    padding: 40px 160px;
    margin: 0;
}
main a {
    color: blue;
    text-decoration: none;
}
main a:hover {
    text-decoration: underline;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    height: 144px;
    padding: 40px 160px;
}
.footer_logo {
    height: 90px;
    width: 300px; 
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}
footer a {
    text-decoration: none;
    color: white;
    padding-bottom: 1px;
}
footer a:hover {
    border-bottom: 1px solid #ffffff 
}