/* FONTS */
@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Regular.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Bold.woff2") format("woff2");
    font-weight: 700;
}

/* BODY */
body {
    margin: 0;
    font-family: "Raleway", sans-serif;
    color: #222;
}


.bg_grey {
  background-color: #403B3B;
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 24px;
    margin-block-start: 0;
    margin-block-end: 0;
}

h5 {
  font-size: 32px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.recipe_img {
  height: 352px;
  width: 352px;
}

button {
  background-color: #008000;
  color: white;
  padding: 10px 20px 10px 20px;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

header {
  max-width: 1440px;
  height: 144px;
  padding: 40px 160px 0 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}

.header_logo {
  height: 120px;
  width: 400px;
}

header nav a {
  text-decoration: none;
  color: #403B3B;
  font-size: 24px;
  padding-bottom: 3px;
}

header nav a:hover {
  color: #008000;
  border-bottom: 5px solid #008000
}

nav {
  display: flex;
  gap: 25px;
  height: 128px;
  align-items: flex-end;
}

nav ul {
  margin-block-start: 1.5rem;
  margin-block-end: 0;
  padding-inline-start: 0;
}

main {
    width: 100%;
    max-width: 1440px;
    padding: 40px 160px;
    margin: 0 auto;
}

main a {
  color: blue;
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  height: 144px;
  padding: 40px 160px;
  background-color: #403B3B;
  background-size: cover;
}

.footer_logo {
  height: 90px;
  width: 300px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: underline;
}

.footer_social {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.footer_social_a:hover {
  filter: brightness(0) saturate(100%) invert(91%) sepia(98%) saturate(6505%) hue-rotate(325deg) brightness(87%) contrast(89%);
  ;
}

.social_icon {
  height: 40px;
  width: auto;
  padding-bottom: 16px;
}