.recipe {
    display: flex;
    justify-content: flex-start;
    text-align: center;
}
.recipe_right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.recipe_suggestions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
}
.how_to {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 40px 0;
}
.footer_links {
    display: flex;
    gap: 50px;
}

.recipe_ingredients_table {
    display: flex;
    align-items: center;


}

.recipe_ingredients_header {
    display: flex;
    align-items: center;


}

.recipe_input_form {
    height: 41px;
    margin-left: 10px;

}
