
.recipe {
    display: flex;
    margin-top: 50px;
    gap: 40px;
    justify-content: flex-start;
    text-align: center;
}

.recipe_suggestions {
    margin: 90px 0;
    text-align: center;
    background-color:  #f5f5f5; ;

}

.cards {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    gap: 50px;
    margin-top: 40px;
}

.how_to {
    padding: 80px 0;
}

.howto-grid {
    display: grid;
    grid-template-columns: 1fr 400px;
    gap: 40px;
    align-items: center;
}

.howto-grid img {
    width: 100%;
    border-radius: 8px;
}

.footer_links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.recipe_ingredients_table {
    display: flex;
    align-items: center;


}

.recipe_ingredients_header {
    display: flex;
    align-items: center;


}

.recipe_input_form {
    height: 41px;
    margin-left: 10px;

}

.h2 {

    
}