.btn {
    display: inline-block;
    padding: 10px 24px;
    background: #009640;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    margin-top: 16px;
}
.recipe {
    display: flex;
    margin-top: 50px;
    gap: 40px;
    justify-content: flex-start;
    text-align: center;
}

.recipe img {
    width: 520px;         
    height: 380px;
    object-fit: cover;
    border-radius: 18px;
  
}


.recipe_suggestions {
    margin: 90px 0;
    text-align: center;
    background-color:  #f5f5f5; ;

}

.cards {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    gap: 50px;
    margin-top: 40px;
}

.card img {
    width: 100%;
    height: 200px;     
    object-fit: cover;
}


.how_to {
    padding: 80px 0;
}

.howto-grid {
    display: grid;
    grid-template-columns: 1fr 400px;
    gap: 40px;
    align-items: center;
}

.howto-grid img {
    width: 100%;
    border-radius: 8px;
}


.footer_links {
  display: flex;
  gap: 50px;
}

.recipe_image{
  height: 300px;
  width: 100%;
  border-radius: 10px;
  background-image: url('./img/rinderrouladen.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 40px;
}

.recipe_image_kaiserschmarren {
  height: 300px;
  width: 100%;
  border-radius: 10px;
  background-image: url('./img/kaiserschmarren.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 40px;
}


.recipe_info_line {
  display: flex;
  gap: 24px;
}

#divider {
  background-color: #f2f2f2;
  height: 1px;
  margin-bottom: 10px;
}

.recipe_info {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.recipe_icons {
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  margin-top: 40px;
  margin-bottom: 100px;
}

th {
  text-align: center;
}

td {
  padding: 10px 20px;
}

.tr_grey {
  background-color: #f2f2f2;
}

td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

td:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

ol {
  margin-bottom: 100px;
}

li {
  padding-bottom: 30px;
}

.recipe_profil {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 20px 0 200px 0;
}

.recipe_profil img {
  height: 250px;
  width: auto;
  border-radius: 25px;
}

.recipe_ingredients_table {
  display: flex;
  align-items: center;
}

.recipe_ingredients_header {
  display: flex;
  align-items: center;
}

.recipe_input_form {
  height: 41px;
  margin-left: 10px;
}

/* Contact area */

.contact_formular {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

form {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 32px 72px;
  border-radius: 11px;
}

form h3 {
  margin-bottom: 24px;
}

form button {
  margin-top: 16px;
}

input {
  border-radius: 8px;
  margin-bottom: 8px;
  line-height: 28px;
}

textarea {
  border-radius: 8px;
}

/* REZEPT_DES_TAGES */

.recipe-box {
  display: flex;
  gap: 20px;
  margin: 20px;
}

.left-box {
  flex: 1; 
  min-width: 200px;
  background: #f8f8f8;
  padding: 15px;
  border-radius: 8px;
}

.right-box {
  flex: 2;
  background: #fff8e1;
  padding: 15px;
  border-radius: 8px;
}

.full-img {
  width: 100%;
  height: 400px;
  object-fit: cover;   
  border-radius: 10px;
  margin-top: 40px;
}
