body {
  font-family: 'raleway';
}

section img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 16px;
}

.recipe_info {
  display: flex;
  margin: 0;
  margin-bottom: 24px;
  gap: 8px;
}

#divider {
  margin: 16px 0;
}

.quantity {
  background-color: #fff;
  justify-content: start;
  flex-direction: row;
  padding: 0;
  align-items: center;
  border-radius: 0;
}

.quantity label {
  margin-right: 8px;
  font-size: 20px;
  font-weight: bold;
}

.quantity input {
  margin: 0;
  border-radius: 0;
  height: 37px;
  width: 115px;
}

.quantity button {
  margin: 0;
  font-size: 16px;
}

table {
  width: 100%;
}

/* Zepra style */
tbody:nth-child(even) {
  background-color: #eeeeee;
  border-radius: 8px;
}

.emmi {
  color: rgb(97, 199, 214);
}

main figure h5 {
  font-size: 16px;
}

.julian_hergert_Profilbild {
  width: 150px;
  height: 200px;
  background-position: center;
  margin-top: 8px;
}