@media (max-width: 1280px) {
  header {
    padding: 24px 24px 0 24px;
  }

  .header_logo {
    height: 90px;
    width: 300px;
  }

  nav {
    display: none;
  }

  main {
    padding: 24px;
  }

  footer {
    padding: 24px;
  }
}
    nav {
        display: none;
    }
    .nav-mobile {
    display: block;
    position: relative;
  }

  .mobile-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background: white;
  }

  .mobile-menu.show {
    display: block;
  }
    
    main {
        padding: 24px;
    }
    footer {
        padding: 24px;
    }
}

@media (max-width: 768px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 22px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  header {
    justify-content: flex-start;
  }

  .header_logo {
    display: none;
  }

  .header_logo_mobile {
    display: block;
  }

  .footer_logo {
    display: none;
  }

  .footer_logo_small {
    display: block;
  }

  .social_icon {
    height: 32px;
    padding-bottom: 10px;
  }

  .footer_links {
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }

  .footer_social {
    gap: 20px;
  }
}