html {
  scroll-behavior: smooth;
}

.body {
  margin: 0;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'raleway';
  color: white;
  background-image: url(./img/hero_bg.jpg);
  background-size: cover;
  background-position: bottom;
}

h1 {
  margin-top: 20%;
  margin-bottom: 0px;
  font-size: 96px;
  font-weight: bold;
}

.hero_underhead {
  font-size: 24px;
  font-weight: normal;
}

.header {
  width: 100%;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 160px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.links {
  font-size: 24px;
  margin-left: 35px;
  text-decoration: none;
  color: white;
  display: flex;
}

#DMD:hover {
  font-weight: bold;
  color: rgb(57, 255, 20);
}

#DfromD {
  display: flex;
  transform: scale(-1, 1);
}

.navbar {
  display: flex;
  align-items: center;
}

.tel {
  display: flex;
  margin-left: 42px;
  gap: 10px;
  align-items: center;
  background-color: #9F0908;
  border-radius: 10px;
  border: 2px solid white;
  padding: 5px 7px;
  color: white;
  text-decoration: none;
}

.tel p {
  font-size: 24px;
  margin: 0;
}

.tel:hover {
  background-color: #e70000;
}

.how_to_order {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 120px 160px;
}

h2 {
  font-family: 'raleway';
  font-size: 80px;
  font-weight: bold;
  color: #9F0908;
  margin: 0;
}

.pickNadd {
  width: 100%;
  font-family: 'economica';
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}

.h2o {
  font-size: 56px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h2o p {
  margin: 16px;
  margin-bottom: 0;
}

/* .pick16 {
  margin-top: 16px;
} */

.our_menu {
  width: 100%;
  display: flex;
  background-image: url(./img/section_our_menu_bg.jpg);
  box-sizing: border-box;
  padding: 120px 160px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.omh {
  display: flex;
  font-size: 80px;
  font-family: 'Raleway';
  color: #9F0908;
  font-weight: bold;
}

.middle_selection {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 56px;
}

.left_justified {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 80px;
}

.right_justified {
  display: flex;
  justify-content: end;
  font-display: row;
  align-items: center;
  gap: 80px;
}

.dish_list {
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 16px;
}

.dish_price_text {
  font-family: 'raleway';
  font-weight: bold;
  font-size: 32px;
  display: flex;
  justify-content: space-between;
  color: #675E54;
}

.dish_head {
  font-family: 'economica';
  color: #000000;
  font-size: 56px;
  font-weight: bold;
  text-align: left;
  padding-bottom: 16px;
}

.price {
  display: flex;
  justify-content: space-between;
  font-family: 'Raleway';
  font-weight: bold;
  color: #675E54;
  font-size: 32px;
  gap: 8px;
}

.find_us {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 64px;
}

.find_us_head {
  font-family: 'raleway';
  font-size: 80px;
  font-weight: bold;
  color: #9F0908;
}

.map_marker {
  display: flex;
  align-items: center;
  font-family: 'raleway';
  font-size: 24px;
  margin-top: 8px;
}

.gmap {
  display: flex;
  width: 100%;
  height: 700px;
}

footer {
  display: flex;
  height: 144px;
  background-color: #0A141E;
  justify-content: space-between;
  padding: 0 160px;
  align-items: center;
}

.social-media-links img {
  margin-left: 8px;
}

@media (max-width: 1280px) {

  .header {
    padding-left: 24px;
    padding-right: 24px;
  }

  .links {
    display: none;
    font-size: 20px;
  }

  .tel img {
    width: 20px;
  }

  .tel p {
    font-size: 20px;
  }

  h1 {
    margin-top: 25%;
    margin-bottom: 0px;
    font-size: 72px;
  }

  .hero_underhead {
    font-size: 20px;
  }

  .how_to_order {
    padding: 96px 24px;
  }

  h2 {
    font-size: 64px;
  }

  .pickNadd {
    margin-top: 48px;
  }

  .pick16 {
    margin-top: 8px;
  }

  .h2o img {
    width: 112px;
    height: 112px;
  }

  .h2o {
    font-size: 32px;
  }

  .our_menu {
    padding: 96px 24px;
    gap: 48px;
  }

  .middle_selection {
    gap: 32px;
  }

  .dish_head {
    font-size: 32px;
  }

  .dish_price_text {
    font-size: 24px;
  }

  .left_justified {
    gap: 24px;
  }

  .right_justified {
    gap: 24px;
  }

  .find_us {
    padding-top: 96px;
    padding-bottom: 48px;
  }

  .map_marker {
    font-size: 20px;
  }

  footer {
    padding: 0 24px;
  }
}

@media (max-width: 767px) {

  .header {
    height: 64px;
    padding: 0px 16px;
  }

  nav img {
    width: 40px;
  }

  .tel img {
    width: 16px;
  }

  .tel p {
    font-size: 16px;
  }

  h1 {
    margin-top: 42%;
    margin-bottom: 0;
    font-size: clamp(20px, 10vw, 40px);
  }

  .hero_underhead {
    font-size: 16px;
  }

  .how_to_order {
    padding: 72px 16px;
  }

  h2 {
    font-size: clamp(20px, 10vw, 40px);
  }

  .pickNadd {
    margin-top: 48px;
    flex-direction: column;
    gap: 32px;
  }

  .pick16 {
    margin-top: 8px;
  }

  .h2o img {
    width: 112px;
    height: 112px;
  }

  .h2o {
    font-size: 32px;
  }

  .h2o p {
    margin: 8px;
    margin-bottom: 0;
  }

  .our_menu {
    padding: 72px 16px;
    gap: 40px;
  }

  .middle_selection {
    gap: 32px;
  }

  .dish_head {
    font-size: 32px;
    padding-bottom: 8px;
  }

  .dish_price_text {
    font-size: 24px;
  }

  .left_justified {
    flex-direction: column;
    gap: 16px;
  }

  .left_justified img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width: 343px;
  }

  .right_justified {
    flex-direction: column-reverse;
    gap: 16px;
  }

  .right_justified img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width: 343px;
  }

  .dish_list {
    width: 100%;
    object-fit: cover;
    max-width: 343px;
  }

  .find_us {
    padding-top: 72px;
    padding-bottom: 40px;
  }

  .map_marker {
    font-size: 16px;
    margin-bottom: 0;
  }

  footer {
    height: 86px;
    padding: 0 16px;
  }

  .footer-logo {
    content: url(./img/sakura_logo.png);
    width: 40px;
    height: 40px;
  }

  .social-media-links img {
    width: 32px;
    height: 32px;
  }
}